.ILOs {
  background-color: #f6f6ee;
	border: 1px solid #53532c;
	border-left: 4px solid #53532c;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

header.header-page .page-heading h1 {
  font-size: 45px;
  margin-top: 0;
}
