.ILOs {
  background-color: #f6f6ee;
	border: 1px solid #53532c;
	border-left: 6px solid #53532c;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

.ILOs > ol {
  margin-top: -1em;
}

header.header-page .page-heading h1 {
  font-size: 45px;
  margin-top: 0;
}

hr {
  border: 0;
  height: 3px;
  border-radius: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

ul {
  margin-top: -12px;
  margin-bottom: -8px;
}
