/* --- Reduces default size of header --- */
header.header-page .page-heading h1 {
  font-size: 45px;
  margin-top: 0;
}


/* --- Creates a nicer looking horizontal rule --- */
hr {
  border: 0;
  height: 3px;
  border-radius: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* --- Makes the second level of order list use letters --- */
ol ol {
  list-style-type: lower-alpha;
}


/* --- Creates images that float to the right or left --- */
.img-right {
   display: inline-block;
   margin: 0px 0px 40px 20px;
   float: right;
   max-width: 200px;
   height: auto;
   border-radius:3%;
}

.img-left {
   display: inline-block;
   margin: 0px 20px 40px 0px;
   float: left;
   width: 200px;
   border-radius:3%;
}

/* --- Creates a class for ILOs list --- */
.panel-group-ILOs {
  margin-bottom: 20px;
	border: 1px solid #53532c;
	border-left: 6px solid #53532c;
}
.panel-group-ILOs .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group-ILOs .panel + .panel {
  margin-top: 5px;
}
.panel-group-ILOs .panel-heading {
  border-bottom: 0;
  background-color: #f6f6ee;
}
.panel-group-ILOs .panel-heading + .panel-collapse > .panel-body,
.panel-group-ILOs .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group-ILOs .panel-footer {
  border-top: 0;
}
.panel-group-ILOs .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

/* --- Handles the look of code on handouts --- */
code{
  white-space: pre;
}

pre:not([class]) {
    background-color: white;
}
