.tg {
  border-collapse:collapse;
  border-spacing:0;
  margin-left: auto;
  margin-right: auto;
}

.tg td{
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  text-align:center
}


.grader {
  border-collapse:collapse;
  border-spacing:0;
  border-style:solid;
  border-width:2px;
  margin-left: auto;
  margin-right: auto;
}

.grader th {
  text-align:center;
  background-color: #f2f2f2;
  padding:5px;
}

.grader td {
  text-align:center;
  padding:5px;
}

.grader input {
  text-align:center;
}
