## Stuff that should not be public
Final Exams/
Year_Specific/
zzzOther/

## Book materials that do not need to be in the repo
book/cache/
book/FBMatter/*.aux
book/Figs/*.pdf
book/Figs/zzzOld/
book/HW/*.log
book/HW/*.synctex.gz
book/HW/*.tex
book/HW/Figs/*.pdf
book/HW/zzzOld
book/*.synctex.gz
book/IntroStats.pdf
book/IntroStats.aux
book/IntroStats.bbl
book/IntroStats.brf
book/IntroStats.idx
book/IntroStats.ilg
book/IntroStats.ind
book/IntroStats.log
book/IntroStats.maf
book/IntroStats.mt*
book/IntroStats.out
book/IntroStats.toc
book/IntroStats-concordance.tex
book/pdftk.exe
book/libiconv2.dll
book/zzzRestrict Printing.txt

## Lecture materials that do not need to be in the repo
lecture/CEs/*.log
lecture/CEs/*.synctex.gz
lecture/CEs/*.tex
lecture/CEs/Figs/*.pdf
lecture/HOs/*.log
lecture/HOs/*.synctex.gz
lecture/HOs/*.tex
lecture/HOs/Figs/*.pdf
lecture/Quiz/
lecture/Slides/zzzOld/

## Assessment materials that do not need to be in the repo
assessment/*.aux
assessment/*.csv
assessment/*.log
assessment/*.out
assessment/*.synctex.gz
assessment/*.tex
assessment/*.xlsx
assessment/Figs/*.pdf

## Old administrative stuff that does not need to be in the repo
resources/zzzOld/

## R History files
.Rhistory
.Rapp.history

## R project info
.Rproj.user
