## Stuff that should not be public
zzzOld/
zzzOther/Final Exams/
zzzOther/Stats_Content_Analysis_2015.xlsx
Year_Specific/
resources/homework-keys/HW/
resources/homework-keys/pdftk.exe
resources/homework-keys/libiconv2.dll

## Book materials that do not need to be in the repo
book/cache/
book/FBMatter/*.aux
book/Figs/*.pdf
book/Figs/zzzOld/
book/*.synctex.gz
book/IntroStats.tex
book/IntroStats.pdf
book/IntroStats.aux
book/IntroStats.bbl
book/IntroStats.brf
book/IntroStats.idx
book/IntroStats.ilg
book/IntroStats.ind
book/IntroStats.log
book/IntroStats.maf
book/IntroStats.mt*
book/IntroStats.out
book/IntroStats.toc
book/IntroStats-concordance.tex
book/pdftk.exe
book/libiconv2.dll
book/zzzRestrict Printing.txt

## Lecture materials that do not need to be in the repo
lecture/CEs/*.log
lecture/CEs/*.synctex.gz
lecture/CEs/*.tex
lecture/CEs/Figs/*.pdf
lecture/HOs/*.log
lecture/HOs/*.synctex.gz
lecture/HOs/*.tex
lecture/HOs/Figs/*.pdf
lecture/Quiz/
lecture/Slides/zzzOld/

## Assessment materials that do not need to be in the repo
zzzOther/assessment/*.aux
zzzOther/assessment/*.csv
zzzOther/assessment/*.log
zzzOther/assessment/*.out
zzzOther/assessment/*.synctex.gz
zzzOther/assessment/*.tex
zzzOther/assessment/*.xlsx
zzzOther/assessment/Figs/*.pdf

## Old administrative stuff that does not need to be in the repo
resources/zzzOld/

## R History files
.Rhistory
.Rapp.history

## R project info
.Rproj.user
