.tg {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  font-size:14px;
  padding:10px 10px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
}
.tg th{
  font-size:18px;
  font-weight:normal;
  padding:10px 10px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
}
.tg .tg-hdrrow{
  font-weight:bold;
  background-color:#c0c0c0;
  text-align:center;
  vertical-align:center
}
.tg .tg-leftcol{
  font-weight:bold;
  font-size:16px;
  background-color:#F3F3F3;
  text-align:left;
  vertical-align:center
}
.tg .tg-leftcol2{
  font-size:16px;
  background-color:#F3F3F3;
  text-align:left;
  vertical-align:center
}
.tg .tg-cell{
  text-align:center;
  vertical-align:center
}
